@{
    ViewData["Title"] = "O servisu";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
    <p>
        Servis za prijavu intervencija predstavlja internet servis koji omogućava radnicima u odrzavanju da prime radni nalog i ispišu intervenciju pri zavrsetku.
    </p>
</div>