@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1>Dobrodošli</h1>
    <h2>Ulogujte se i lako prijavite svoj projekat!</h2>
    <h3>Registrujte se ili prijavite se kako bi ste prijavili Vaš projekat</h3>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PrijavaIliRegistracija"><button class="mojeDuge">UĐITE</button></a>
</div>
