@{
    ViewData["Title"] = "Prijava ili registracija";
}

<div class="text-center">
    <h1>Ukoliko već imate nalog prijavite se, a ako ne, registrujte se!</h1>
    <div class="d-inline-flex">
        <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Prijava"><button>Prijavi se</button></a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Nalog" asp-action="Registracija"><button>Registruj se</button></a>
    </div>
</div>
