@if (TempData["SuccessMessage"] != null)

{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@{
    ViewData["Title"] = "Почетна";
}

<div class="text-center">
    <h1>Dobrodošli</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="KorisnikProfil"><button>Profil</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="KorisnikSlobodniOglasi"><button>Slobodni radni nalozi</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="KorisnikMojiNalozi"><button>Moji radni nalozi</button></a>
</div>
